
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Member", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @Html.ActionLink("檢視", "personalProfile", "Member")
            <li><a href="#">Welcome : @Session["currentUserName"]</a></li>
            <li></li>
            <li class="nav-item ml-4">
                @Html.ActionLink("登出", "Logout", "Member")
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("你還沒登入", "Login", "Member", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}  