@using PagedList;
@using PagedList.Mvc;

@model Tuple<CampWebsite.Models.tCampsite, IEnumerable<CampWebsite.Models.tTent>, IPagedList<CampWebsite.Models.tComment>>
@{
    ViewBag.Title = "Details";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />

<div class="row dir-block ">
    <div class="d-flex align-items-center mx-sm-3 mx-5 w-100 fs-sm">
        <div class="d-flex align-items-center">
            <a href="">首頁</a>
            <span>/</span>
        </div>

        <div class="d-flex align-items-center">
            <a href="">快樂營區</a>
            <span>/</span>
        </div>

        <div class="d-flex align-items-center">
            <a href="">123</a>
        </div>
    </div>
</div>

<div class="row mt-4 mb-3">
    <div class="mx-sm-3 mx-5 w-100 fs-sm title-block">
        <p class="font-weight-bold fs-lg">@Html.DisplayFor(model => model.Item1.fCampsiteName)</p>
        <div class="d-flex justify-content-between align-items-center ">
            <div class="d-flex align-items-center">
                <div class="d-flex align-items-center star-container mr-2">
                    @{
                        int star_avarage_count = 0;
                        for (int i = 0; i < Math.Round(ViewBag.reviews_score, 0); i++)
                        {
                            <i class="fas fa-star"></i>
                            star_avarage_count++;
                        }
                        for (int i = star_avarage_count; i < 5; i++)
                        {
                            <i class="far fa-star"></i>
                        }
                    }
                </div>
                <a href="#review-block" class="link">顯示評論</a>
            </div>
            <div class="d-flex align-items-center">
                <div class="mr-2">
                    <i class="far fa-heart c-red"></i>
                </div>
                <div class="mr-2">
                    <i class="fas fa-share-alt"></i>
                </div>
                <a href="#tent-block" class="button">預訂</a>
            </div>
        </div>

        <div class="d-flex align-items-center">
            <p class="mr-2 fs-sm">@Html.DisplayFor(model => model.Item1.fCampsiteCity)@Html.DisplayFor(model => model.Item1.fCampsiteAddress)</p>

            <a href="" class="link">
                <i class="fas fa-map-marker-alt c-red fs-md"></i>
                在地圖上顯示
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="d-flex justify-content-center align-items-center elevator-container mx-sm-3 mx-5 w-100 fs-sm">
        <a href="#information-block" class="elevator mr-1">
            <p>資訊&營地類型</p>
        </a>
        <a href="#service-block" class="elevator mr-1">
            <p>設施</p>
        </a>
        <a href="#note-block" class="elevator mr-1">
            <p>營區須知</p>
        </a>
        <a href="#review-block" class="elevator">
            <p>顧客評論</p>
        </a>
    </div>
</div>

<figure class="row img-selected mt-3">
    <img class="col-12" src="https://picsum.photos/200/300" alt="">
</figure>
<ul class="row img-list mt-1 mb-3">
    <li class="col-3">
        <img src="https://picsum.photos/200/300" alt="">
        <div class="overlay">
            <i class="far fa-hand-pointer"></i>
        </div>
    </li>
    <li class="col-3">
        <img src="https://picsum.photos/200/300" alt="">
        <div class="overlay">
            <i class="far fa-hand-pointer"></i>
        </div>
    </li>
    <li class="col-3">
        <img src="https://picsum.photos/200/300" alt="">
        <div class="overlay">
            <i class="far fa-hand-pointer"></i>
        </div>
    </li>
    <li class="col-3">
        <img src="https://picsum.photos/200/300" alt="">
        <div class="overlay">
            <i class="far fa-hand-pointer"></i>
        </div>
    </li>
</ul>

@*<div class="row">
        <div class="d-flex justify-content-star align-items-center flex-wrap bubble-container mx-sm-3 mx-5 w-100">
            <div class="bubble">bubble1</div>
            <div class="bubble">bubble2</div>
            <div class="bubble">bubble3</div>
            <div class="bubble">bubble4</div>
            <div class="bubble">bubble5</div>
            <div class="bubble">bubble6</div>
            <div class="bubble">bubble7</div>
            <div class="bubble">bubble8</div>
            <div class="bubble">bubble9</div>
            <div class="bubble">bubble10</div>
            <div class="bubble">bubble10</div>
            <div class="bubble">bubble10</div>
            <div class="bubble">bubble10</div>
        </div>
    </div>*@

<div class="row information-block" id="information-block">
    <div class="mx-sm-3 mx-5 w-100">
        <p class="block-header">營區資訊</p>
        <div class="d-md-flex w-100 fs-md information-main-block">
            <div class="col-12 col-md-4 pl-0">
                <div class="d-flex align-items-center">
                    <i class="fas fa-mountain"></i>
                    <p>海拔：</p><span>@Html.DisplayFor(model => model.Item1.fCampsiteAltitude)</span>
                </div>
                <div class="d-flex align-items-center">
                    <i class="far fa-calendar-check"></i>
                    <p>公休日：</p><span>@Html.DisplayFor(model => model.Item1.fCampsiteClosedDay)</span>
                </div>
                <div class="d-flex align-items-center">
                    <i class="fas fa-phone-square-alt"></i>
                    <p>聯絡營主：</p><span>@Html.DisplayFor(model => model.Item1.fCampsitePhone)</span>
                </div>
                <div class="d-flex align-items-center">
                    <i class="fas fa-campground"></i>
                    <p>租賃裝備：</p><span>有此項服務</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="tent-block">
    <div class="mx-sm-3 mx-5 w-100 h-100">
        <p class="block-header">空房情況</p>
        @*<div class="d-flex justify-content-center po-rel fs-md mb-3 h-25">
                <div class="d-flex align-items-center mr-3">
                    <p class="mr-3">入營日期</p>
                    <input type="date" class="fs-sm">
                </div>
                <div class="d-flex align-items-center">
                    <p class="mr-3">退營日期</p>
                    <input type="date" class="fs-sm">
                </div>
                <div class="d-flex align-items-center po-abs">
                    <p class="button">搜尋</p>
                </div>
            </div>*@
        <!-- 月曆 -->
        <div class="calendar fs-sm mb-3 h-75">
            <div class="year">
                <span id="pre_year">＜</span>
                <span id="t_year">2022</span>
                <span id="next_year">＞</span>
            </div>
            <div class="month">
                <select name="" id="month">
                    <option value="0">1</option>
                    <option value="1">2</option>
                    <option value="2">3</option>
                    <option value="3">4</option>
                    <option value="4">5</option>
                    <option value="5">6</option>
                    <option value="6">7</option>
                    <option value="7">8</option>
                    <option value="8">9</option>
                    <option value="9">10</option>
                    <option value="10">11</option>
                    <option value="11">12</option>
                </select>
                <span>月</span>
            </div>
            <div class="day">
                <ul>
                    <li>日</li>
                    <li>一</li>
                    <li>二</li>
                    <li>三</li>
                    <li>四</li>
                    <li>五</li>
                    <li>六</li>
                </ul>
            </div>
            <div class="date">

            </div>
        </div>
    </div>
</div>

<div class="row camp-type-container">
    <div class="mx-3 w-100 d-flex">
        <table class="col-10">
            <tr class="fs-md camp-type-head">
                <th>營地名稱</th>
                <th>類型</th>
                <th>適合人數</th>
                <th>今日價格</th>
                <th>選擇數量</th>
                <th></th>
            </tr>
            @{
                foreach (var item in Model.Item2)
                {
                    <tr class="fs-sm">
                        <td>@Html.DisplayFor(model => item.fTentName)</td>
                        <td>@Html.DisplayFor(modelitem => item.fTentCategory)</td>
                        <td>@Html.DisplayFor(modelitem => item.fTentPeople)</td>
                        <td>$@Html.DisplayFor(modelitem => item.fTentPriceWeekday)</td>
                        <td>
                            <select name="" id="">
                                @{
                                    int count = 0;
                                    while (int.Parse(item.fTentQuantity.ToString()) >= count)
                                    {
                                        <option value="@count">@count</option>
                                        count++;
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                }
            }
        </table>

        <div class="camp-type-container-foot col-2 px-0">
            <div class="camp-type-head"></div>
            <div class="pl-2 pt-2">
                <p class="fs-sm"><span>1</span>帳的價格為</p>
                <p class="fs-md mb-2">TWD <span class="fs-md">1,000</span></p>
                <div class="button w-75">馬上預定</div>
            </div>

        </div>
    </div>
</div>

<div class="row service-block" id="service-block">
    <div class="mx-sm-3 mx-5 w-100">
        <p class="block-header">附屬設施與服務</p>
        <div class="d-sm-flex d-flex fs-md">
            <div class="col-6 pl-0">
                <div class="mt-2">
                    <i class="fas fa-campground"></i>
                    <p>附屬設施</p>
                    <ul class="d-flex flex-wrap">
                        @{
                            for (int i = 0; i < @ViewBag.facility_count; i++)
                            {
                                <li class="col-6 p-0">
                                    <i class="fas fa-check"></i>
                                    <span>@ViewBag.facility[i]</span>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>

            <div class="col-6 pl-0">
                <div class="mt-2">
                    <i class="fas fa-bolt"></i>
                    <p>附屬服務</p>
                    <ul class="d-flex flex-wrap">
                        @{
                            for (int i = 0; i < @ViewBag.service_count; i++)
                            {
                                <li class="col-6 p-0">
                                    <i class="fas fa-check"></i>
                                    <span>@ViewBag.service[i]</span>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row note-block" id="note-block">
    <div class="mx-sm-3 mx-5 w-100">
        <p class="block-header">營區須知</p>
        <div class="fs-md">
            <div class="col-12 note-main-block">
                <div class="d-flex align-items-center">
                    <i class="far fa-calendar-alt"></i>
                    <p>入營時間：</p><span>@Html.DisplayFor(model => model.Item1.fCampsiteCheckInTime)</span>
                </div>
                <div class="d-flex align-items-center">
                    <i class="far fa-calendar-times"></i>
                    <p>退營時間：</p><span>@Html.DisplayFor(model => model.Item1.fCampsiteCheckOutTime)</span>
                </div>
                <div class="d-flex align-items-center">
                    <i class="fas fa-dog"></i>
                    <p>寵物：</p><span>不可攜帶寵物</span>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="row alert-block" id="alert-block">
        <div class="mx-sm-3 mx-5 w-100">
            <p class="block-header">注意事項</p>
            <div class="d-flex">
                <div class="col-12 alert-main-block">
                    <p>1.本營區為開放空間，個人安全、私人物品、財務請自行保管負責。</p>
                    <p>2.禁止歡唱卡拉 OK、打麻將、燃放鞭炮及一切違法之行為。</p>
                    <p>3.露營活動中請勿使用發電機及高耗能之大電力設備(ex：電鍋、電磁爐等)。</p>
                    <p>4.如需要烤肉請自備高架炊具。</p>
                    <p>5.夜間 10 點後，動作及談話請保持輕聲、細語。</p>
                    <p>6.攜帶寵物，請注意清潔，加鍊綁著或放置外出籠中，需事先告知營主或於訂單備註。</p>
                    <p>7.園區中設施請遵守指示牌規定，如有損毀本露營場之設備，須照價賠償。</p>
                </div>
            </div>
        </div>
    </div>*@

@*<div class="row review-block" id="review-block">
        <div class="mx-sm-3 mx-5 w-100">
            <p class="block-header">顧客評價</p>
            <div class="d-flex review-head-block">
                <div class="col-3 d-flex align-items-center justify-content-center">
                    <div class="fs-md text-center font-weight-bold">總評價</div>
                </div>
                <div class="col-9 d-flex align-items-center justify-content-center">
                    <div class="d-flex align-items-center star-container">
                        @{
                            for (int i = 0; i < Math.Round(ViewBag.reviews_score, 0); i++)
                            {
                                <i class="fas fa-star"></i>
                            }
                            for (int i = star_avarage_count; i < 5; i++)
                            {
                                <i class="far fa-star"></i>
                            }
                        }
                    </div>
                    <div>
                        <p>　平均<span>@ViewBag.reviews_score</span>顆星　</p>
                    </div>
                    <div>
                        <p>總共<span>@ViewBag.reviews_count</span>則評論</p>
                    </div>
                </div>
            </div>
            @{
                foreach (var item in Model.Item3)
                {
                    <div class="d-flex flex-column review-main-block fs-sm">

                        <div>@Html.DisplayFor(model => item.tMember.fName)</div>
                        <div class="d-flex star-container">
                            @{
                                int star_count = 0;
                                for (int i = 0; i < item.f分數; i++)
                                {
                                    <i class="fas fa-star"></i>
                                    star_count++;
                                }
                                for (int j = star_count; j < 5; j++)
                                {
                                    <i class="far fa-star"></i>
                                }
                            }
                        </div>
                        <div>
                            <p class="text-indent">
                                @Html.DisplayFor(model => item.f評語)
                            </p>
                        </div>
                        <div class="d-flex justify-content-end">
                            <p class="mr-2">入營時間：<span>join訂單</span></p>
                            <p>評價時間：<span>@DateTime.ParseExact(item.f建立時間, "yyyyMMddHHmmss", null).ToString("yyyy/MM/dd")</span></p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>*@

<div class="row review-block" id="review-block">
    <div class="mx-sm-3 mx-5 w-100">
        <p class="block-header">顧客評價</p>
        <div class="d-flex review-head-block">
            <div class="col-3 d-flex align-items-center justify-content-center">
                <div class="fs-md text-center font-weight-bold">總評價</div>
            </div>
            <div class="col-9 d-flex align-items-center justify-content-center">
                <div class="d-flex align-items-center star-container">
                    @{
                        for (int i = 0; i < Math.Round(ViewBag.reviews_score, 0); i++)
                        {
                            <i class="fas fa-star"></i>
                        }
                        for (int i = star_avarage_count; i < 5; i++)
                        {
                            <i class="far fa-star"></i>
                        }
                    }
                </div>
                <div>
                    <p>　平均<span>@ViewBag.reviews_score</span>顆星　</p>
                </div>
                <div>
                    <p>總共<span>@ViewBag.reviews_count</span>則評論</p>
                </div>
            </div>
        </div>
        @{
            foreach (var item in Model.Item3)
            {
                <div class="d-flex flex-column review-main-block fs-sm">

                    <div>@Html.DisplayFor(model => item.tMember.fName)</div>
                    <div class="d-flex star-container">
                        @{
                            int star_count = 0;
                            for (int i = 0; i < item.fCommentScore; i++)
                            {
                                <i class="fas fa-star"></i>
                                star_count++;
                            }
                            for (int j = star_count; j < 5; j++)
                            {
                                <i class="far fa-star"></i>
                            }
                        }
                    </div>
                    <div>
                        <p class="text-indent">
                            @Html.DisplayFor(model => item.fComment)
                        </p>
                    </div>
                    <div class="d-flex justify-content-end">
                        <p class="mr-2">入營時間：<span>join訂單</span></p>
                        <p>評價時間：<span>@DateTime.ParseExact(item.fCommentTime, "yyyyMMddHHmmss", null).ToString("yyyy/MM/dd")</span></p>
                    </div>
                </div>
            }
        }

        @Html.PagedListPager(Model.Item3, page => Url.Action("Details", new { page }))

    </div>
</div>

<script>
    let preY = document.querySelector("#pre_year");
    let nextY = document.querySelector("#next_year");
    let date = document.querySelector(".date");

    preY.addEventListener("click", function () {
        t_year.innerHTML = parseInt(t_year.innerHTML) - 1;
    })
    nextY.addEventListener("click", function () {
        t_year.innerHTML = parseInt(t_year.innerHTML) + 1;
    })
    //取得當月第一天是星期幾
    function getDay() {
        let t_year = document.querySelector("#t_year");
        let month = document.querySelector("#month");
        let date = new Date(parseInt(t_year.innerHTML), parseInt(month.value), 0);
        let first_day = date.getDay() + 1;
        if (date.getDay() == 8) {
            first_day = 1;
        }
        return first_day;
    }
    //取得當月最後一天是星期幾
    function getLastDay() {
        let t_year = document.querySelector("#t_year");
        let month = document.querySelector("#month");
        let date = new Date(parseInt(t_year.innerHTML), parseInt(month.value) + 1, 0);
        let Last_day = date.getDay();
        if (date.getDay() == 8) {
            Last_day = 1;
        }
        return Last_day;
    }
    getLastDay()
    //取得上月最後一天是幾日
    function getPreDate() {
        let t_year = document.querySelector("#t_year");
        let month = document.querySelector("#month");
        let date = new Date(parseInt(t_year.innerHTML), parseInt(month.value), 0);
        return date.getDate();
    }

    //取得當月有幾天
    function getDate() {
        let t_year = document.querySelector("#t_year");
        let month = document.querySelector("#month");
        let date = new Date(parseInt(t_year.innerHTML), parseInt(month.value) + 1, 0);
        return date.getDate();
    }


    //建立日
    function addDates() {
        let date_count = 0;
        document.querySelector(".date").innerHTML = ""; //清除dates
        let i = 0;
        let j = 1;
        let d = getDay();
        let PreDate = getPreDate() - d + 1;
        //上月
        for (i; i < getDay(); i++) {
            if (getDay() == 7)
                break;
            while (d != 0) {
                date.innerHTML += `<div class="preMonth">${PreDate}</div>`;
                d--;
                PreDate++;
                date_count++;
            }

        }
        //當月
        for (j; j <= getDate(); j++) {
            date.innerHTML += `<div>${j}</div>`;
            date_count++;
        }
        //下月
        let firstDate = 1;
        while (date_count < 42) {
            date.innerHTML += `<div class="nextMonth">${firstDate}</div>`;
            firstDate++;
            date_count++;
        }
        console.log(date_count)
    }
    addDates();
    document.getElementById("month").addEventListener("change", addDates)
    document.querySelector("#t_year").addEventListener("DOMNodeInserted", addDates)

</script>




